body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding-top: 30px;
  padding-bottom: 20px;
}

.header h1 {
  font-family: 'Bigelow Rules', cursive;
  color: #95dada;
  font-size: 72px;
  padding-bottom: 0;
}

.header p {
  font-family: 'Bigelow Rules', cursive;
  color: #95dada;
  font-size: 48px;
}